body{
    background: url("/Asses/imagen/img\ fondo.jpg");
    background-color: rgba(42, 42, 180, 0.966);
    background-size: cover;
    background-repeat: no-repeat;
}
.for-title{
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: #f8f8fa;
}

.form-label{
    font-weight: normal;
    font-family: sans-serif;
    color: #ededf0;
}

.form{
    background: rgba(0, 0, 0, 0.432);
    width: 90;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    padding-bottom: 30px;
    border-radius: 3px;
    
}

.form-label{
    display: block;
    color: rgb(255, 254, 254);
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;

}

.form-input, .form textarea{
    background: rgba(70, 96, 209, 0.767);
    border: none;
    outline: none;
    border-bottom: 2px solid #1101f8;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 15px;
    color: rgb(247, 248, 248);
}

@media screen and (min-width: 768px) and (max-width: 1024px)

    body{
        background: url("/Asses/imagen/img\ fondo.jpg");
        background-color: rgba(42, 42, 180, 0.966);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .for-title{
        font-weight: normal;
        font-family: Arial, Helvetica, sans-serif;
        color: #f8f8fa;
    }
    
    .form-label{
        font-weight: normal;
        font-family: sans-serif;
        color: #ededf0;
    }
    
    .form{
        background: rgba(0, 0, 0, 0.432);
        width: 90;
        max-width: 650px;
        margin: auto;
        padding: 5px 35px;
        padding-bottom: 30px;
        border-radius: 3px;
        
    }
    
    .form-label{
        display: block;
        color: rgb(255, 254, 254);
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
        position: relative;
    
    }
    
    .form-input, .form textarea{
        background: rgba(70, 96, 209, 0.767);
        border: none;
        outline: none;
        border-bottom: 2px solid #1101f8;
        width: 100%;
        padding: 12px;
        margin-bottom: 20px;
        border-radius: 2px;
        font-size: 15px;
        color: rgb(247, 248, 248);
    }

    
@media screen and (min-width: 365px) and (max-width: 667px)

body{
    background: url("/Asses/imagen/img\ fondo.jpg");
    background-color: rgba(42, 42, 180, 0.966);
    background-size: cover;
    background-repeat: no-repeat;
}
.for-title{
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: #f8f8fa;
}

.form-label{
    font-weight: normal;
    font-family: sans-serif;
    color: #ededf0;
}

.form{
    background: rgba(0, 0, 0, 0.432);
    width: 90;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    padding-bottom: 30px;
    border-radius: 3px;
    
}

.form-label{
    display: block;
    color: rgb(255, 254, 254);
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;

}

.form-input, .form textarea{
    background: rgba(70, 96, 209, 0.767);
    border: none;
    outline: none;
    border-bottom: 2px solid #1101f8;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 15px;
    color: rgb(247, 248, 248);
}



@media screen and (min-width: 1366px) and (max-width: 768px)

body{
    background: url("/Asses/imagen/img\ fondo.jpg");
    background-color: rgba(42, 42, 180, 0.966);
    background-size: cover;
    background-repeat: no-repeat;
}
.for-title{
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: #f8f8fa;
}

.form-label{
    font-weight: normal;
    font-family: sans-serif;
    color: #ededf0;
}

.form{
    background: rgba(0, 0, 0, 0.432);
    width: 90;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    padding-bottom: 30px;
    border-radius: 3px;
    
}

.form-label{
    display: block;
    color: rgb(255, 254, 254);
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;

}

.form-input, .form textarea{
    background: rgba(70, 96, 209, 0.767);
    border: none;
    outline: none;
    border-bottom: 2px solid #1101f8;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 15px;
    color: rgb(247, 248, 248);
}