body{
    background-color: rgba(62, 62, 95, 0.966);
    background-size: cover;
    background-repeat: no-repeat;
}
.for-title{
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: #f8f8fa;
}

